.space-container{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px -4px 8px 10px black;
    background-color: black;
}
.swx-overview{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
}
iframe{
    color:white;
    background-color: #75b4e3; 
}
.space-container img{
    max-width: 500px;
    width: 100%;
    max-height: 600px;
    height: 100%;
}